{% extends "base.html" %}
{% load qr_code %}
{% load static %}
{% block title %} Абонентский отдел / Личный кабнет / Область профиля {% endblock title %}
{% block class %}
continent
{% endblock class %}
{% block index %}
<!-- ---------------------- -->
<div class="col lef-xl3 xl9 lef-m0 m12 s_info_nav__post">
    <div class="container">
      <div class="wrap">
        <div class="col xl12 s12 s_info_nav__post">
          <div class="wrap">
            <div class="s_info_nav__post__lk col xl12" style="background-image: url({% static 'img/walve.svg' %});">
              <form class="classic" action="{% url 'kvit:index' %}" method="POST">
                {% csrf_token %}
                <div>
                  <span>Лицевой 1: </span>
                  <span>{{form.lic}}</span>
                </div>
  
                <div>
                  <span>Лицевой 2:</span>
                  <span>{{form.lic2}}</span>
                </div>
                <div>
                  <span>Лицевой 3:</span>
                  <span>{{form.lic3}}</span>
                </div>
                <div>
                  <span>Лицевой 4:</span>
                  <span>{{form.lic4}}</span>
                </div>
                <div>
                  <span>Лицевой 5:</span>
                  <span>{{form.lic5}}</span>
                </div>
                <div>
                  <span>Лицевой 6:</span>
                  <span>{{form.lic6}}</span>
                </div>
                <div>
                  {{form.errors}}
                </div>
                <div>
                  <button type="submit" class="button__click">Изменить</button>
                </div>
              </form>

              
            </div>
            
          </div>
        </div>
  
  
      </div>
    </div>
  
  </div>
  <!-- ---------------------- -->
  
  
{% endblock index %}