{% extends 'base.html' %}
{% block title %} Абонентский отдел / Личный кабнет / Востановление пароля {% endblock title %}
{% load static %}

{% block index %}

<div class="col lef-xl3 xl9 lef-m0 m12 s_info_nav__post">
  <div class="container">
    <div class="wrap">
      <div class="col xl12 s12 s_info_nav__post">
        <div class="wrap">
          <div class="s_info_nav__post__lk col xl12" style="background-image: url({% static 'img/walve.svg' %});">
            {% if validlink %}
            <span class="s_info_nav__post__name">
              Смена пароля
            </span>

            <form class="classic" method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button class="super_button" type="submit">Сменить</button>
            </form>
            {% else %}
            <span class="s_info_nav__post__name">
              Вероятно ссылка неверна или уже была использована
            </span>
            {% endif %}

          </div>
        </div>
      </div>


    </div>
  </div>

</div>
{% endblock index %}