{% extends 'base.html' %}
{% load static %}

{% block index %}
<div class="col lef-xl3 xl9 lef-m0 m12 s_info_nav__post">
  <div class="container">
    <div class="wrap">
      <div class="col xl12 s12 s_info_nav__post">
        <div class="wrap">
          <div class="s_info_nav__post__lk col xl12" style="background-image: url({% static 'img/walve.svg' %});">
            <span class="s_info_nav__post__name">
              Сброс пароля
            </span>

            <form class="induct" method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit">Сбросить</button>
            </form>

          </div>
        </div>
      </div>


    </div>
  </div>

</div>
{% endblock index %}