{% extends 'base.html' %}
{% block title %} Абонентский отдел / Личный кабнет / Пароль для пользователя успешно сменен {% endblock title %}
{% load static %}

{% block index %}

<div class="col lef-xl3 xl9 lef-m0 m12 s_info_nav__post">
  <div class="container">
    <div class="wrap">
      <div class="col xl12 s12 s_info_nav__post">
        <div class="wrap">
          <div class="s_info_nav__post__lk col xl12" style="background-image: url({% static 'img/walve.svg' %});">

            <span class="s_info_nav__post__name">
              Пароль для пользователя успешно изменен
            </span>
            <p><a class="button__click" href="{% url 'users:login' %}">Войти</a></p>

          </div>
        </div>
      </div>


    </div>
  </div>

</div>
{% endblock index %}