<header>
  <div class="container">
    <div class="wrap">
      <div class="col xl2 s12 header__logo">
        <a href="#">
          <img src="../media/{{obj.organization_logo}}" alt="">
        </a>
      </div>
      <div class="col xl6 s12 header__name">
        <span>{{obj.website_name}}</span>
      </div>
      <div class="col xl4 s12 header__contact">
        <span>Диспечерская служба</span>
        <a href="tel:8(8453) 44-45-33">8(8453) 44-45-33</a>
      </div>
    </div>
  </div>
</header>