<ul class="header__link__list">
    <li><a href="{% url 'index' %}">Новости</a></li>
    <li><a href="{% url 'infocnn' %}">О предприятии</a></li>
    <li><a href="{% url 'informations:info' %}">Информация</a>
        <ul>
            
            <li><a href="{% url 'informations:job' %}">Вакансии</a></li>
            <li><a href="{% url 'informations:watersupply' %}">Водоснабжение</a></li>
            <li><a href="{% url 'informations:waterdis' %}">Водоотведение</a></li>
            <li><a href="{% url 'informations:waterconnect' %}">Подключение</a></li>
            
            <!-- <li><a href="#">Подключение</a></li> -->
            <li><a href="{% url 'normativ' %}">Нормативные акты</a></li>
            <li><a href="{% url 'contact' %}">Контакты</a></li>
        </ul>
    </li>
    <li>
        <a class='{% block active %}{% endblock active %}' href="{% url 'abon:abon' %}">Отдел по Абонентскому обслуживанию</a>
        <ul>
            <li><a href="{% url 'question:question' %}">Ответы на часто задаваемые вопросы</a></li>
            <li><a href="{% url 'advertisement:advertisement' %}">Контрольный обход жилых помещений</a></li>
            <li><a class="str" href="{% url 'ls:inducations' %}">Передача показаний</a></li>
            <li><a href="{% url 'abon:abonzamenapu' %}">Замена прибора учета в ИЖС и МКД</a></li>
            <li><a href="{% url 'abon:abondisruption' %}">Последствия нарушения пломбы ПУ в ИЖС и МКД</a></li>
            <li><a href="{% url 'debt:debt' %}">Должники</a></li>
        </ul>
    </li>
    <li><a href="{% url 'pages' %}">Диспетчерская служба</a></li>
</ul>