<div class="screen">
  <div class="headermenu">
    <a class="target-burger">
      <ul class="buns">
        <li></li>
        <li></li>
      </ul>
    </a>

  </div>

  <nav class="main-nav" role="navigation">
    <div class="logo">
      <img src="/img/logo_bg.png" alt="">
    </div>
    <ul>
      <li><a href="#">О предприятии</a></li>
      <li><a href="#">Информация</a>
        <ul>
          <li><a href="#">Подробнее</a></li>
        </ul>
      </li>
      <li><a href="#">Водоснабжение</a></li>
      <li><a href="#">Водоотведение</a></li>
      <li><a href="#">Подключение</a></li>
      <li><a href="#">Нормативные акты</a></li>
      <li><a href="#">Контакты</a></li>
      <li><a href="#">Вакансии</a></li>
      <li><a href="#">Должники</a></li>
    </ul>
  </nav>

</div>