{% load static %}
<div class="screen">
  <div class="headermenu">
    <a class="target-burger">
      <ul class="buns">
        <li></li>
        <li></li>
      </ul>
    </a>

  </div>

  <nav class="main-nav" role="navigation">
    <div class="logo">
      <img src="{% static 'img/logo_bg.png' %}" alt="">
    </div>
    <ul>
      <li><a href="{% url 'index' %}">О предприятии</a></li>
      <li><a href="{% url 'informations:info' %}">Информация</a>
        <ul>
          <li><a href="{% url 'informations:watersupply' %}">Водоснабжение</a></li>
          <li><a href="{% url 'informations:waterdis' %}">Водоотведение</a></li>
          <li><a href="#">Подключение</a></li>
          <li><a href="{% url 'normativ' %}">Нормативные акты</a></li>
          <li><a href="{% url 'contact' %}">Контакты</a></li>
        </ul>
      </li>


      <li><a href="{% url 'question:question' %}">Ответы на часто задаваемые вопросы</a></li>
      <li>
        <a href="{% url 'abon:abon' %}">Абонентский отдел</a>
        <ul>
          <li><a href="{% url 'advertisement:advertisement' %}">Контрольный обход</a></li>
          <li><a href="{% url 'ls:inducations' %}">Передача показаний</a></li>

          <li><a href="{% url 'debt:debt' %}">Должники</a></li>
        </ul>
      </li>
      <li><a href="{% url 'pages' %}">Диспетчерская служба</a></li>
    </ul>
  </nav>

</div>