{% extends 'base.html' %}
{% load static %}
{% block title %} Приборы учета (установка, замена) {% endblock title %}
{% block class %}
lk
{% endblock class %}
{% block active %}
active
{% endblock active %}
{% block index %}

<section class="s_info_cnn_pages col lef-xl3 xl9 lef-m0 m12 white">
  <div class="container max">
    <div class="wrap">
      <div class="col xl8 m12 advertisement abon">
        <h2>Приборы учета (установка, замена)</h2>
        <div class="abon__pages">
          <h3>Общая информация</h3>
          <p>«РВК-Архангельск» обеспечивает питьевой водой и оказывает услуги водоотведения 350 тысячам жителей
            столицы Поморья.</p>
          <p>Для удобства потребителей в главном офисе компании (улица Касаткиной 9) открыт Центр обслуживания
            клиентов, который работает принципу «единого окна». Здесь посетители могут оплатить услуги водоснабжения и
            водоотведения, погасить долги, получить консультацию специалистов по начислениям, оформить документы на
            присоединение к сетям, получение технических условий и т.д.</p>
          <p>В 2020 году предприятие значительно расширило спектр дополнительных услуг. Среди них – установка и
            поверка приборов учета, подвоз воды, вывоз стоков, установка септиков, аренда спецтехники. Все их также
            можно заказать в главном офисе «РВК-Архангельск.</p>
        </div>
        <div class="col xl12 debt__tabs__base">
          <div class="wrap">
            <div class="debt__tabs__elements col xl12">
              <button class="tablinks active" onclick="openDebt(event,'CH')">
                <div>физическим лицам</div>
              </button>
              <button class="tablinks" onclick="openDebt(event,'UR')">
                <div>юридическим лицам</div>
              </button>
            </div>

            <div class="col xl12">
              <div id="CH" class="tabcontent">
                <!--  -->
                <details>
                  <summary>Первичная установка водомера в частном доме</summary>
                  <div>
                    <p class="h3">Что сделать</p>
                    <ul>
                      <li>Обратиться в Ростовводоканал для получения технических условий</li>
                      <li>Обратиться в любую проектную организацию для изготовления схемы водомерного узла</li>
                      <li>Передать изготовленную схему водомерного узла в Ростовводоканал для согласования</li>
                      <li>Приобрести водомер (для колодца-мокроход D-20 мм) и установить в месте, согласованным с
                        Ростовводоканалом</li>
                      <li>Подать заявку на регистрацию прибора учёта в Ростовводоканал</li>
                    </ul>
                  </div>
                  <div>
                    <p class="h3">Куда обратиться?</p>
                    <p>Лично подать документы можно в одном из офисов «Одно окно»:</p>
                    <ul>
                      <li>ул. М. Горького, 293</li>
                    </ul>
                    <p>Приемные дни: вторник - суббота с 8.00 до 17.00 (без перерыва)</p>
                  </div>
                  <div>
                    <p class="h3">При себе иметь</p>
                    <ul>
                      <li>Паспорт</li>
                      <li>Доверенность в простой письменной форме, если заявку подаёт не собственник</li>
                      <li>Паспорт на прибор учета (оригинал + копия)</li>
                      <li>Технические условия на установку водомера</li>
                      <li>Согласованная схема водомерного узла</li>
                      <li>Бланк заявления из "Приложения к разделу"</li>
                    </ul>
                    <p></p>
                  </div>
                  <div>
                    <p class="h3">Результат</p>
                    <p>В течение 2-х дней после заявки на регистрацию прибора учета заявление передается инспектору. В
                      течение 30 дней он выезжает по адресу для регистрации и пломбировки водомера. По результатам
                      этой процедуры абонент получает на руки копию акта контрольного обследования. С даты обращения
                      начисления производятся согласно переданным показаниям.</p>
                  </div>
                </details>
                <!--  -->
                <!--  -->
                <details>
                  <summary>Первичная установка водомера в частном доме</summary>
                  <div>
                    <p class="h3">Что сделать</p>
                    <ul>
                      <li>Обратиться в Ростовводоканал для получения технических условий</li>
                      <li>Обратиться в любую проектную организацию для изготовления схемы водомерного узла</li>
                      <li>Передать изготовленную схему водомерного узла в Ростовводоканал для согласования</li>
                      <li>Приобрести водомер (для колодца-мокроход D-20 мм) и установить в месте, согласованным с
                        Ростовводоканалом</li>
                      <li>Подать заявку на регистрацию прибора учёта в Ростовводоканал</li>
                    </ul>
                  </div>
                  <div>
                    <p class="h3">Куда обратиться?</p>
                    <p>Лично подать документы можно в одном из офисов «Одно окно»:</p>
                    <ul>
                      <li>ул. М. Горького, 293</li>
                    </ul>
                    <p>Приемные дни: вторник - суббота с 8.00 до 17.00 (без перерыва)</p>
                  </div>
                  <div>
                    <p class="h3">При себе иметь</p>
                    <ul>
                      <li>Паспорт</li>
                      <li>Доверенность в простой письменной форме, если заявку подаёт не собственник</li>
                      <li>Паспорт на прибор учета (оригинал + копия)</li>
                      <li>Технические условия на установку водомера</li>
                      <li>Согласованная схема водомерного узла</li>
                      <li>Бланк заявления из "Приложения к разделу"</li>
                    </ul>
                    <p></p>
                  </div>
                  <div>
                    <p class="h3">Результат</p>
                    <p>В течение 2-х дней после заявки на регистрацию прибора учета заявление передается инспектору. В
                      течение 30 дней он выезжает по адресу для регистрации и пломбировки водомера. По результатам
                      этой процедуры абонент получает на руки копию акта контрольного обследования. С даты обращения
                      начисления производятся согласно переданным показаниям.</p>
                  </div>
                </details>
                <!--  -->
              </div>
              <div id="UR" class="tabcontent">

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col xl4 m12 abon__operating-mode">
        <h3>Приложения к разделу</h3>
        <div class="abon__operating-mode__list">
          <a href="#" class="items">
            <img src="{% static 'img/doc_down.png' %}" alt="">
            <p>Последствия недопуска представителя Исполнителя коммунальных услуг в занимаемое Потребителем жилое
              помещение</p>
          </a>
          <a href="#" class="items">
            <img src="{% static 'img/doc_down.png' %}" alt="">
            <p>Последствия при срыве пломбы на приборе учета, установленной представителем ресурсоснабжающей
              организации</p>
          </a>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  $(document).ready(function () {
    $('.captcha-refresh').click(function () {
      var $form = $(this).parents('form');
      var url = location.protocol + "//" + window.location.hostname + ":"
        + location.port + "/captcha/refresh/";

      // Make the AJAX-call
      $.getJSON(url, {}, function (json) {
        $form.find('input[name="captcha_0"]').val(json.key);
        $form.find('img.captcha').attr('src', json.image_url);
      });

      return false;
    });
  });
</script>
{% endblock index %}