{% extends "base.html" %}
{% block title %} Абонентский отдел / Личный кабнет / Добавление лицевого счета {% endblock title %}
{% load static %}
{% block class %}
continent
{% endblock class %}
{% block index %}
<!-- ---------------------- -->
<div class="col lef-xl3 xl9 lef-m0 m12 s_info_nav__post">
  <div class="container">
    <div class="wrap">
      <div class="col xl12 s12 s_info_nav__post">
        <div class="wrap">
          <div class="s_info_nav__post__lk col xl12" style="background-image: url({% static 'img/walve.svg' %});">
            <h2 style="text-align: center;padding: 1rem;font-size: 1.2rem;background: red;margin: 1rem;color: white;border-radius: 10px;">Система остановленна. Данные не обновлялись больше месяца.</h2>
            <!-- <form class="classic" action="{% url 'users:addlis' %}" method="POST">
              {% csrf_token %}
              <h4>Обновление (11.12.2023)</h4>
              <div>
                <span>Добавить лицевой: </span>
                <span>(Ваш номер лицевого) </span>
                <span>{{forma.fac_lis}}</span>
              </div>
              <ul>
                <li>Введите сумму последнего платежа.</li>
                {% if messages %}
                <li class="danger">{{messages}}</li>
                {% endif %}
              </ul>
              <div>
                <span>Сумма последнего платежа: </span>
                <span>{{forma.summ_}}</span>
              </div>
              <div>
                {{form.errors}}
              </div>
              <div>
                <button type="submit" class="button__click">Добавить</button>
              </div>
            </form> -->

          </div>
        </div>
      </div>


    </div>
  </div>

</div>
<!-- ---------------------- -->


{% endblock index %}