{% extends "base.html" %}
{% load static %}
{% block title %} Абонентский отдел / Личный кабнет / Вход {% endblock title %}
{% block class %}
continent
{% endblock class %}
{% block index %}
<div class="col lef-xl3 xl9 lef-m0 m12 s_info_nav__post">

  <div class="s_info_nav__post__lk">
    <span class="s_info_nav__post__name">
      Вход
    </span>
    <form action="{% url 'users:login' %}" method="POST">
      {% csrf_token %}
      <div class="werf">
        <label for="{{ form.username.id_for_label}}">Логин</label>
        {{ form.username}}
      </div>
      <div class="werf">
        <label for="{{ form.password.id_for_label}}">Пароль</label>
        {{ form.password}}
      </div>
      <button type="submit" class="button__click">Войти</button>

    </form>
    <a href="{% url 'users:registration' %}" class="link">Пройти регистрацию </a>
    <br>
    <a href="{% url 'reset_password' %}" class="link">Востановить пароль</a>
  </div>
  <!--  -->
</div>
{% endblock index %}