{% extends "base.html" %}
{% block class %}
continent
{% endblock class %}
{% block index %}
<div class="col lef-xl3  xl9 s12 s_info_nav__post">
  <div class="inducations">
    <div class="wrap">
      <div class="name_razdel col xl12">
        <div class="hint">Область для заполнения</div>
        <div class="name">Внести показания</div>
      </div>
      <div class="col xl6 s12 induc__info">
        <div>
          <h3>Села</h3> <a href="#">Редактировать данные</a>
        </div>
        <form method="post">
          {% csrf_token %}
          {{ form }}
          <button type="submit">Save changes</button>
        </form>
        <blockquote>
          <h4>События</h4>
          <p>Пароль от личного кабинета можно поменять только по заявлению, обратившись в абонетский отдел.</p>
          <p>Личный кабинет работает в режиме отладки, могут наблюдаться сбои в работе.</p>
        </blockquote>
      </div>

    </div>
  </div>
</div>
{% endblock index %}