{% extends "base.html" %}
{% block class %}
continent
{% endblock class %}
{% block index %}
<div class="col lef-xl3 xl9 s12 s_info_nav__post">

  <div class="s_info_nav__post__lk">
    <span class="s_info_nav__post__name">
      Регистрация
    </span>
    <form action="{% url 'users:registration' %}" method="POST">
      {% csrf_token %}
      <div class="werf">
        <label for="{{ form.username.id_for_label}}">Лицевой счет</label>
        {{ form.username}}
      </div>
      <div class="werf">
        <label for="{{ form.last_name.id_for_label}}">Ваше имя</label>
        {{ form.last_name}}
      </div>
      <div class="werf">
        <label for="{{ form.first_name.id_for_label}}">Фамилия</label>
        {{ form.first_name}}
      </div>
      <div class="werf">
        <label for="{{ form.email.id_for_label}}">Почта</label>
        {{ form.email}}
      </div>
      <div class="werf">
        <label for="{{ form.password1.id_for_label}}">Пароль</label>
        {{ form.password1}}
      </div>
      <div class="werf">
        <label for="{{ form.password2.id_for_label}}">Повторить пароль</label>
        {{ form.password2}}
      </div>
      <button type="submit" class="button__click">Зарегистрироваться</button>

    </form>
    <a href="#" class="link">Пройти регистрацию</a>
  </div>


  <!--  -->
  <span class="s_info_nav__post__name">
    Передача показаний без авторизации
  </span>
  <div class="s_info_nav__post__old">
    <a class="curlc mkd" href="#"><span>МКД</span></a>
    <a class="curlc ch" href="#"><span>Частный сектор</span></a>
    <a class="curlc sela" href="#"><span>Села</span></a>
  </div>
</div>
{% endblock index %}