{% extends "base.html" %}
{% block title %} Абонентский отдел / Личный кабнет / Регистрация {% endblock title %}
{% block class %}
continent
{% endblock class %}
{% block index %}
<div class="col lef-xl3 xl9 lef-m0 m12  s_info_nav__post">

  <div class="s_info_nav__post__lk">
    <span class="s_info_nav__post__name">
      Регистрация
    </span>
    <form action="{% url 'users:registration' %}" method="POST">
      {% csrf_token %}
      <div class="werf">
        <label for="{{ form.username.id_for_label}}">Логин</label>
        {{ form.username}}
      </div>
      <div class="werf">
        <label for="{{ form.last_name.id_for_label}}">Ваша фамилия</label>
        {{ form.last_name}}
      </div>
      <div class="werf">
        <label for="{{ form.first_name.id_for_label}}">Ваше имя</label>
        {{ form.first_name}}
      </div>
      <div class="werf">
        <label for="{{ form.email.id_for_label}}">Почта</label>
        {{ form.email}}
      </div>
      <div class="werf">
        <label for="{{ form.password1.id_for_label}}">Пароль</label>
        {{ form.password1}}
      </div>
      <div class="werf">
        <label for="{{ form.password2.id_for_label}}">Повторить пароль</label>
        {{ form.password2}}
      </div>
      <button type="submit" class="button__click">Зарегистрироваться</button>

    </form>
  </div>
  <div class="info__block" style="background: #fff; padding: 1rem; border-radius: 8px;">
    <p>Согласно ФЗ от 31.07.2023 N 406-ФЗ "О внесении изменений в Федеральный закон "Об информации, информационных
      технологиях и о защите информации" и Федеральный закон "О связи"</p>
    <p>С 1 декабря 2023 года на российских сайтах нельзя будет регистрироваться через иностранную почту или аккаунты,
      зарегистрированные через иностранные сервисы, например, Google или Apple ID</p>
    <p class="danger">Просим Вас использовать для регистрации почту @Mail.ru, @yandex.ru, @rambler.ru. В дальнейшем
      могут быть ограничения с доставкой на другие сервисы.</p>
  </div>



  <!--  -->
</div>
{% endblock index %}