{% extends 'base.html' %}
{% block title %} Абонентский отдел / Личный кабнет / Выход из системы {% endblock title %}
{% load static %}

{% block index %}

<div class="col lef-xl3 xl9 lef-m0 m12 s_info_nav__post">
  <div class="container">
    <div class="wrap">
      <div class="col xl12 s12 s_info_nav__post">
        <div class="wrap">
          <div class="s_info_nav__post__lk col xl12" style="background-image: url({% static 'img/walve.svg' %});">

            <h1>Страница не найдена</h1>

          </div>
        </div>
      </div>


    </div>
  </div>

</div>
{% endblock index %}