{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    МУП «БАЛАКОВО-ВОДОКАНАЛ» - {% block title %} {% endblock title %}
  </title>
  <link rel="stylesheet" href="{% static 'css/reset.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/fixx.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:wght@300;400;800&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.6.1/css/iziModal.min.css"
    integrity="sha512-3c5WiuZUnVWCQGwVBf8XFg/4BKx48Xthd9nXi62YK0xnf39Oc2FV43lIEIdK50W+tfnw2lcVThJKmEAOoQG84Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>

</head>

<body>
  {% include "tpl/__mobi.html" %}
  <div class="container max h_gidf">
    <div class="wrap flex__line">
      <div class="col xl3 m0 header__block">
        <!-- Шапка -->
        <div class="header">
          <div class="wrap">
            <a class="col xl12 s12 header__logo" href="#">
              <img src="{% static 'img/logo.jpg' %}" alt="">
            </a>
            <div class="col xl12 s12 header__name">
              <span>МУП</span>
              <span> Балаково-Водоканал</span>
            </div>
          </div>
        </div>
        <!-- Шапка -->
        {% include "tpl/__menu.html" %}

      </div>
      <section class="contact col xl12 s12">
        <div class="wrap">
          <div class="contact__inform col xl9 lef-xl3  lef-m0 m12">
            <div class="col xl8 m12 contact__card" itemscope="" itemtype="https://schema.org/PostalAddress">
              <div class="phone">
                <span>ПРИЕМНАЯ:</span>
                <a itemprop="telephone" href="tel:8(8453) 44-45-82" class="phone">8(8453) 44-45-82</a>
              </div>
              <div class="phone">
                <span>ДИСПЕТЧЕРСКАЯ СЛУЖБА:</span>
                <a itemprop="telephone" href="tel:8(8453) 44-45-33" class="phone">8(8453) 44-45-33</a>
              </div>
              <div class="mail">
                <span>Наша почта:</span>
                <a itemprop="email" href="mailto:office@bal-vod.ru" class="mail">office@bal-vod.ru</a>
              </div>
            </div>
            <div class="contact__login col xl4 m12">
              <div class="loginIn">

                {% if user.is_authenticated %}
                <p>Добро пожаловать: <span>{{ user.username }}</span></p>
                <p><a href="{% url 'users:profile' %}">Личный кабинет</a></p>
                {% else %}
                <p>Пройдите авторизацию</p>
                <a href="{% url 'users:login' %}">Вход</a>
                {% endif %}

              </div>
            </div>
          </div>
        </div>
      </section>

      {% block index %}
      <!-- Главная страница -->
      {% endblock %}

      {% block informations %}
      <!-- Страница информации -->
      {% endblock informations %}

      {% block lk %}

      {% endblock lk %}
    </div>
    <section class="footer fix_footer">
      <div class="container max">
        <div class="wrap">
          <div class="col xl9 lef-xl3 lef-m0 m12 footer__bg">
            <div class="wrap flex">
              <div class="col xl12 footer__name ">
                <!-- <h3>Реквизиты</h3> -->
              </div>
              <div class="col xl5 m12">
                <p>
                  413853, г.Балаково, ул. Радищева, д.55
                </p>
                <p>
                  ИНН: 6439053289 КПП: 643901001
                </p>
                <p>
                  Банк: АО «Балаково-Банк» г.Балаково
                </p>
              </div>
              <div class="col xl5 m12">
                <p>
                  р/с 40702810800000000300 БИК 046311890
                </p>
                <p>
                  Кор.счет. 30101810022026311890
                </p>
                <p>
                  ОКПО 59396298 ОКОГУ 4210007
                </p>
                <p>
                  Рег.номер в ФСС 6407392455/6407
                </p>
              </div>
              <div class="col xl2 m12 dev">
                <p>Разработан 2023 г.</p>
                <p>Разработка <span>С.В. Горбачев</span></p>
                <p>Дизайн <span>С.В. Горбачев</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="footer__static">
    <div class="wave">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="preloader-6">
    <div class='circle'>
      <div class='inner'> <img src="{% static 'img/logo_bg.png' %}" alt=""></div>
    </div>
  </div>
  <script src=" {% static 'js/libs/jquery.js' %}"></script>
  <script src=" {% static 'js/owl.carousel.min.js' %}"></script>
  <script src=" {% static 'js/app.js' %}"></script>
</body>

</html>