<section class="s_info_cnn_pages col lef-xl3 xl9 lef-m0 m12  white">
    <div class="container max">
        <div class="wrap">
            <div class="col xl8 m12 advertisement">
                <h2>ИЗВЕЩЕНИЕ</h2>
                <div class="advertisement__pages">
                    <p>МУП «Балаково-Водоканал» уведомляет Вас, сотрудниками МУП «Балаково Водоканал» будет осуществлен
                        поквартирный обход многоквартирных домов, частного сектора или сел, с целью проверки
                        достоверности
                        предоставленных потребителями
                        сведений о показаниях индивидуальных приборов учета и (или) проверки их состояния.</p>
                    <blockquote>
                        <p>Жителям домов необходимо обеспечить допуск в указанное время представителей МУП
                            «Балаково-Водоканал» в
                            занимаемые жилые помещения для совершения проверки. </p>
                    </blockquote>


                </div>
            </div>
            <div class="col xl12 advertisement__carusel">
                <div class="wrap">
                    <div class="col xl6 advertisement__carusel__name">
                        График обхода
                    </div>
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="wrap">
                                <div class="col xl12 item__data">
                                    <p>13.12.2022 </p><span>С 8:00 до 17:00</span>
                                </div>
                                <div class="col xl12 item__name">
                                    <p>улица Факел Социализма, дом 17</p>
                                    <p>улица Ленина, дома 117, 117а</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col xl12">
                <p> В том случае, если потребитель не может обеспечить допуск представителей ресурсоснабжающей
                    организации в
                    занимаемое им жилое помещение по причине его временного отсутствия, он обязан сообщить об этом в
                    абонентский
                    отдел МУП «Балаково-Водоканал» по телефону +7 (8453) 62-00-38, либо на электронную почту
                    mkdkomarova@yandex.ru в срок не позднее 2 дней до даты проведения проверки, указанной в настоящем
                    извещении,
                    с указанием иных возможных даты и времени допуска для проведения проверки, удобных для потребителя,
                    при этом
                    предложенная потребителем дата проверки не может быть ранее 2 дней с даты, когда поступило сообщение
                    от
                    потребителя, и позднее 3 дней с даты, указанной в извещении о проведении проверки.</p>
                <p>
                    В том случае, если потребителем не будет обеспечен допуск представителей МУП «Балаково-Водоканал» в
                    занимаемое им жилое помещение в дату и время, указанные в настоящем извещении о проведении проверки
                    или в
                    сообщении, переданном потребителем в абонентский отдел о его временном отсутствии, и при этом в
                    отношении
                    потребителя, проживающего в жилом помещении, у представителей ресурсоснабжающей организации
                    отсутствует
                    информация о его временном отсутствии в занимаемом жилом помещении, будет составлен акт об отказе в
                    допуске
                    к прибору учета.
                </p>
                <p>
                    Уведомляем Вас о том, что в случае составления акта об отказе в допуске к прибору учета по истечении
                    3
                    расчетных периодов с даты составления такого акта МУП «Балаково-Водоканал» вправе производить расчет
                    платы
                    за услуги водоснабжения и водоотведения исходя из норматива потребления коммунальных услуг с учетом
                    количества постоянно и временно проживающих в жилом помещении лиц, с учетом повышающего коэффициента
                    начиная
                    с 1-го числа месяца, в котором такой акт составлен. Величина повышающего коэффициента принимается
                    равной
                    1,5.
                </p>
                <blockquote>
                    <p>
                        При отсутствии информации о постоянно и временно проживающих в жилом помещении гражданах объем
                        коммунальных
                        услуг в указанных случаях рассчитывается с учетом количества собственников такого помещения.
                    </p>
                </blockquote>
            </div>

        </div>
    </div>
</section>