{% extends 'base.html' %}
{% load static %}
{% block title %} График обхода {% endblock title %}
{% block class %}
lk
{% endblock class %}
{% block index %}
<section class="s_info_cnn_pages col lef-xl3 xl9 lef-m0 m12 white">
    <div class="container max">
        <div class="wrap">
            <div class="col xl8 m12 advertisement">
                <h2>ИЗВЕЩЕНИЕ</h2>
                <div class="advertisement__pages">
                    {% for obj in text %}
                    {{obj.header|safe}}
                    {% endfor %}
                </div>
            </div>
            <div class="col xl12 advertisement__carusel">
                <div class="wrap">
                    <div class="col xl6 m12 advertisement__carusel__name">
                        График обхода
                    </div>
                    <div class="owl-carousel owl-theme">
                        {% for obj in advertviews %}
                        <div class="item">
                            <div class="wrap">
                                <div class="col xl12 item__data">
                                    <span>C {{ obj.gapTimeUp }}</span>
                                    <span>По {{ obj.gapTimeDown }}</span>
                                </div>
                                <div class="col xl12 item__name">
                                    {% if obj.optMaps %}
                                    <span>{{ obj.optMaps }}</span>
                                    {% endif %}
                                    {% if obj.optMaps_one %}
                                    <span>{{ obj.optMaps_one }}</span>
                                    {% endif %}
                                    {% if obj.optMaps_two %}
                                    <span>{{ obj.optMaps_two }}</span>
                                    {% endif %}
                                    {% if obj.optMaps_three %}
                                    <span>{{ obj.optMaps_three }}</span>
                                    {% endif %}
                                    {% if obj.optMaps_four %}
                                    <span>{{ obj.optMaps_four }}</span>
                                    {% endif %}
                                    {% if obj.optMaps_four %}
                                    <span>{{ obj.optMaps_four }}</span>
                                    {% endif %}
                                    {% if obj.optMaps_five %}
                                    <span>{{ obj.optMaps_five }}</span>
                                    {% endif %}
                                    {% if obj.optMaps_six %}
                                    <span>{{ obj.optMaps_six }}</span>
                                    {% endif %}
                                    {% if obj.optMaps_seven %}
                                    <span>{{ obj.optMaps_seven }}</span>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col xl12">
                {% for obj in text %}
                {{obj.sectionText|safe}}
                {% endfor %}

            </div>
            <div class="col xl12">
                <p>
                    Настоящее Извещение размещено на официальной странице МУП «Балаково-Водоканал» в сети Интернет в
                    соответствии с подпунктом «а» пункта 119 Правил предоставления коммунальных услуг собственникам и
                    пользователям помещений в многоквартирных домах и жилых домов, утвержденных Постановлением
                    Правительства РФ
                    от 6 мая 2011 г. N 354.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock index %}